{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}


    <ul>
        {% for equipesJoueur in listJoueurs %}
            <li class="list-group-item">{{ equipesJoueur.nom }}{{ equipesJoueur.prenom }} /li>
        {% endfor %}
    </ul>

    <a href="{{ path('equipe_list', {'categorieAge': equipe.getCategorieAge, 'categorieGenre': equipe.getCategorieGenre, 'nom': equipe.getNom}) }}">
        Retour à la liste des équipes
    </a>


{% endblock %}
