
:root {
    --primary: #ff0000; 
}

.root {
    --bs-blue: #ff0000; 
}

a{
    color: #ff0000;
}
/* calendrier */
.fc-col-header-cell-cushion:hover{
    color: black;
}

.fc-col-header-cell-cushion{
    color: black;
}

.fc-daygrid-day-number{
    color:black
}

.fc-daygrid-day-number:hover{
    color:#ff0000
}

.fc-daygrid-day-number:active{
    color:#ff0000
}

.fc-daygrid-event-dot{
    border-color: #ff0000;
}

.btn-danger{
    background-color: #ff0000;
}


/* liste */
.equipe_list{
    list-style-type: none;
}

li{
    margin-bottom: 0.3rem;
}

.btn btn-primary{
        
    background-color: #fefeff;
    border-radius: 10px;
    border: 4px solid rgb(0, 0, 0);
    color: black;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;

}

.centre{
    align-items: center;
    justify-content: center;
    width:40%;
    height:40%;
}

html{
    height: 100%;
}

body{
    margin : 0;
    padding : 0;
}

.container{
    width: 60%;
    margin: 0 auto;
}

.navbar {
    width: 100%;
    margin: 0;
    margin-bottom: 2em;
    height: 65px;
    padding-top: 0;
    padding-left: 5em;
}