{% extends 'base.html.twig' %}

{% block nav %}
    {% include 'nav_equipe.html.twig' %}
{% endblock %}

{% block title %}Salut Admin!
{% endblock %}

{% block body %}
	{% block content %}
		<h5>Admin</h5>
		<h3>Salut,
			{{ app.user.person.prenom }}!
		</h3>

		{{ form_start(formPersonne) }}
		{{ form_widget(formPersonne) }}
		<input type="submit" value="Enregistrer">
		{{ form_end(formPersonne) }}

	{% endblock %}
{% endblock %}
