{% extends 'base.html.twig' %}

{% block title %}Accueil Coach!{% endblock %}

{% block body %}
Voici la page d'accueil du coach

    <h3>Bienvenue, {{ app.user.username }}! </h3>


    <ul class="equipe_list">
        {% for equipe in equipes %}
        <div class="d-grid gap-2 col-6 mx-auto">
            <li> <button class="btn btn-primary" type="button">{{ equipe.getCategorieAge }} {{ equipe.getCategorieGenre }} {{ equipe.getNom }}</button></li>
        </div>
        {% endfor %}
    </ul>


{% endblock %}
