{% extends 'base.html.twig' %}

{% block title %}Calendrier{% endblock %}

{% block body %}

    <h5>Coach</h5>
    <h3>Salut {{ app.user.person.prenom }}! </h3>

    <h6> Choisit une date</h6>
    <h6> Calendrier</h6>

</div>
{% endblock %}
