{% extends 'base.html.twig' %}

{% block title %}Calendrier{% endblock %}

{% block body %}

    <h5>Coach</h5>
    <h3>Salut {{ app.user.person.prenom }}! </h3>


    {# div du calendrier #}
    <div id="div_calendrier" data-date="{{ }}" data-equipe="{{ }}"  ...........>


    </div>


    <script>

        let div_calendrier = document.getElementById('div_calendrier');



        // click
        
        window.href = "/liste/joueurs/" +  div_calendrier.dataset.date + "/" 
                    + div_calendrier.dataset.equipe;
    </script>


    // mettre 
    // mettre date-idEquipe 

    <h6> Choisit une date</h6>
    <h6> Calendrier</h6>

</div>
{% endblock %}
